apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-api-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders-api-service
  template:
    metadata:
      labels:
        app: orders-api-service
    spec:
      containers:
        - name: orders-api-service
          image: orders-api-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: '2Gi'
              cpu: '1000m'
            requests:
              memory: '512Mi'
              cpu: '200m'
          env:
            - name: KAFKA_ADDRESS
              value: 'kafka-broker:9092'
            - name: SPRING_DATASOURCE_URL
              value: 'jdbc:postgresql://postgresql:5432/orders'
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgresql-secret
                  key: username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgresql-secret
                  key: password
            - name: SPRING_CLOUD_CONSUL_HOST
              value: 'consul'
            - name: SPRING_CLOUD_CONSUL_PORT
              value: '8500'
            - name: SPRING_CLOUD_CONSUL_DISCOVERY_ENABLED
              value: 'true'
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 30
            timeoutSeconds: 5
