apiVersion: apps/v1
kind: Deployment
metadata:
  name: consul
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consul
  template:
    metadata:
      labels:
        app: consul
    spec:
      containers:
        - name: consul
          image: hashicorp/consul:1.20
          command:
            - "consul"
            - "agent"
            - "-server"
            - "-ui"
            - "-bootstrap-expect=1"
            - "-client=0.0.0.0"
          ports:
            - containerPort: 8500
              name: http
            - containerPort: 8600
              name: dns-udp
              protocol: UDP
          resources:
            limits:
              memory: "512Mi"
              cpu: "300m"
            requests:
              memory: "256Mi"
              cpu: "100m"
          livenessProbe:
            exec:
              command:
                - consul
                - members
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - consul
                - members
            initialDelaySeconds: 5
            periodSeconds: 5
